
.mat-mdc-table {
  background-color: #f0f0f0;
}

.mat-mdc-row {
  background-color: #ffffff;
}

.mat-mdc-row:hover {
  background-color: #e0e0e0;
}

.mat-mdc-header-row {
  background-color: #ffffff;
}

.mat-mdc-cell {
  background-color: #ffffff;
}
